/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --main-color: #FF8DCB;
  --title-color: #353430;
  --sub-title-color: #353430;
  --header-color: #FFC2E6;
  --link-color: #353430;
  --corner-color: #353430;
  --button-color: #353430;
  --button-hover: #32312D66;
  .header__decoration-dark {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
   --bg-image: url(../images/cover-image-light.png);
   --bg-color: #FFF1F7;
   --main-color: #FF8DCB;
   --title-color: #353430;
   --sub-title-color: #353430;
   --header-color: #FFC2E6;
   --link-color: #353430;
   --corner-color: #353430;
   --button-color: #353430;
   --button-hover: #32312D66;

  }
  .header__decoration-dark {
    display: none;
  }
} 